<div>
  <div id="inner">
    <label>Number A</label>
    <input type="text" 
    (keyup)="calculator3()" 
    [(ngModel)]="numberA">
    <!-- <p>{{db}}</p> -->
    <label>Number B</label>
    <input type="text" 
    (keyup)="calculator3()" 
    [(ngModel)]="numberB">
  </div>
  <select (change)="calculator2($event)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
    <option value="%">%</option>
  </select>
</div>
<hr>
<h2 >{{numberA}} {{lastOp}} {{numberB}} = {{(1*numberC)}}</h2>